@import url(https://fonts.googleapis.com/css?family=Roboto:400);

.list-group-field {
    align-items: center;
    margin: 10px;
    border: 2px solid rgb(6, 105, 253);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: honeydew;
}

.list-group-title {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin: 5px;
    padding: 0;
}

.list-group-info {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.margin-top-5 {
    margin-top: 5px;
}

.list-group-button {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    padding: 2px;
    color: #FFFFFF;
    font-size: 12px;
    cursor: pointer;
    outline: 0;
    background: #4caf4fd3;
    margin-top: 10px;
    text-align: center;
}

.list-group-button:hover {
    background: #328835; 
}

.list-group__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group__kid {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin-right: 10px;
}

.list-group__button-delete {
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid grey;
    cursor: pointer;
    min-width: 25px;
}

.list-group__button-delete:hover {
    color: white;
    background-color: grey;
}

.list {
    list-style-type: none;
    text-align: left;
}

.list:hover .list-group__kid {
    color: red;
}

.confirm {
    position: fixed;
    background: rgba(0, 0, 0, 0.411);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    min-height: 100vh;
}

.confirm_wrapper {
    margin: auto;
    max-width: 400px;
    min-height: 100px;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(197, 247, 230);
    border-radius: 5px;
}

.confirm_text {
    text-align: center;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.confirm_text-name {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    margin-top: 5px;
}

.confirm__buttons {
    display: flex;
    justify-content: space-evenly;
}

.confirm__button {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    padding: 5px;
    color: #FFFFFF;
    font-size: 12px;
    cursor: pointer;
    outline: 0;
    background: #4CAF50;
    width: 100px;
}

.confirm__button:hover {
    background: #43A047;
}