.recording-field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.recording__input-field {
    width: 50%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(197, 247, 230);
    border-radius: 5px;
}

.select-field__label {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    margin-bottom: 18px;
}

.select-field__text {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    margin: 0;
    text-align: center;
    font-weight: 500;
}

.select-field {
    margin-bottom: 15px;
}

.recording-field__select {
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    padding: 3px;
    outline: none;
    border: 1px solid rgba(0, 0, 255, 0.7);
    border-radius: 5px;
}

.recording-saved {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}

.recording-saved__wrapper {
    margin: auto;
    text-align: center;
    max-width: 250px;
    border: 2px solid rgb(6, 105, 253);
    border-radius: 5px;
    background-color: honeydew;
    padding: 10px;
}

.recording-saved__text {
    font-size: 18px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

.recording-field__button {
    text-align: center;
}

.recording__button {
    font-size: 16px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: #FFFFFF;
    cursor: pointer;
    outline: 0;
    background: #4caf4fd3;
    text-align: center;
    margin-top: 20px;
}

.recording__button:hover:enabled, .recording-saved__button:hover {
    background: #328835; 
}

.recording__button:disabled {
    cursor: not-allowed;
    background: rgba(128, 128, 128, 0.6);
}

.recording-saved__button {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    padding: 2px;
    color: #FFFFFF;
    font-size: 12px;
    cursor: pointer;
    outline: 0;
    background: #4caf4fd3;
    text-align: center;
    margin-top: 20px;
}