.wrapper {
    background-image: url("./back.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
}

/* .info-ifeld {
    background-image: url(./2.jpg);
    height: 84vh;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
} */
