.main-paige__wrapper {
    background-image: url("./back.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    padding: 10px;
    box-sizing: border-box;
}

.info-field {
    margin: auto;
}