.timedate {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    max-width: 40%;
    margin: 40px auto;
    color: white;
    padding: 10px;
    background-color:rgba(27, 207, 21, 0.8);
    border-radius: 35%;
}