@import url(https://fonts.googleapis.com/css?family=Roboto:400);

.input-area {
    margin: 5px 0;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

.input-area__field-input {
    width: calc(100% - 8px);
}

.error {
    position: absolute;
    font-size: 11px;
    color: red;
}

.unvisible {
    display: none;
}