@import url(https://fonts.googleapis.com/css?family=Roboto:400);

.input-area {
    margin: 18px 0;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

.input-area__field-input {
    width: 100%;
    box-sizing: border-box;
    padding: 4px;
    border: 1px solid rgba(0, 0, 255, 0.7);
    border-radius: 5px;
    outline-color: blue;
}