.classItem-field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border: 2px solid rgb(6, 105, 253);
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgb(197, 247, 230);
    width: 400px;
}

.classItem-title {
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.classItem-info {
    font-family: "Roboto", sans-serif;
}

.classItem-button {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    padding: 5px;
    color: #FFFFFF;
    font-size: 12px;
    cursor: pointer;
    outline: 0;
    background: #4caf4fd3;
    margin-top: 10px;
    text-align: center;
    width: 150px;

}

.classItem-button:hover {
    background: #328835; 
}